@font-face {
    font-family: MinecraftSillyFont;
    src: url(./src/font/Minecraftchmc-dBlX.ttf);
}

body {
    background-color: #E2E2DE;
}

.divtitle {
    width: 720px;
    height: auto;
    text-align: left;
    padding-left: 18px;
}

.divtitle img {
    position: absolute;
    width: 60px;
    height: auto;
    top: 38px;
    left: 600px;
}

h1, ul li, .githubrepo {
    font-family: MinecraftSillyFont;
}

h1 {
    font-size: 62px;
    color: #363232;
}

h1:hover {
    color: #544d4d;
}

ul li a {
    font-size: 38px;
    color: #85929e;
}

ul li a:hover {
    color: #859e9d;
}

.githubrepo {
    position: absolute;
    font-size: 34px;
    translate: 2px 470px;
}

#githubrepoimg, #heart{
    width: 22px;
    height: auto;
}